@model ProductService.Models.Category

<h2>Create Category</h2>

<form asp-action="Create">
    <div class="form-group">
        <label>Category Name</label>
        <input asp-for="CategoryName" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success mt-3">Save</button>
</form>
